<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    
    <!-- Permissions for TensorFlow Lite GPU delegate -->
    <uses-feature android:glEsVersion="0x00030000" android:required="false" />
    <uses-feature android:name="android.hardware.vulkan.compute" android:required="false" />
    
</manifest>